
a:link  {
	color: #f0f;
	text-decoration: none;
}

a:visited {
	color: #00f;
	
}

a:hover {
	color: #00008b;
	text-decoration: underline;
}

a:active {
	color: #f00;
	text-decoration: none;
}



body {
		
		background-color: #d2b48c; 
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		min-width:20%;
		max-width:100%;
		margin: 10%;
		
}


#main	{
		font-family: Arial, Helvetica, sans-serif;
		width: 80em;
		margin: 25px 10px;
		background-color: #f0f8ff; 
		padding: 10px;
		border-radius: 15px;

}


#header	{
		font-family: 'Source Sans Pro', sans-serif;
		background-color: #FF0; 
		
		
}
#nav-bar {
		width: 80em;
		height: 100px;
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: normal;
		text-align: center;
		text-shadow: 3px 2px 2px #fff;
		background-color: #8AD9FF;	
		border-radius: 8px;
		border-color: #000;
		
}


ul {
	list-style-type: upper-roman;
	color: #000;
}



		
				
#header {
	margin: 30px auto;
	padding: 12px;
	border-top: 30px;
	
	
		
}

h1	{
	margin:	10px 20px 10px 20px;
	color:	#6f6;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	text-shadow: 4px 4px 4px #000;  
}

#rest	{
	width:	0.8em;
	height: 1.0em;
	margin: .5em;
	background-color: #FFF8DC; 
	border: 10px;
	box-shadow: 10px 10px 25px #FFF;
}

h2	{
	margin: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000; 	
}


#desc {

	text-align: center;
	font-weight: bold;
	
}
		
h3,h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font: 1.25em;
	margin: 10px 10px 10px 10px;
}

#crabs {
	margin-left: 40px;

}

#sushi {
	margin-left: 40px;
}

#fare {
	text-align: center;
	font-weight: bold;
	font: 1.50em;
}

	
p	{
	font:	.75em;
	margin: 10px 20px 10px 20px;
}
	
#footer {
	color: #000;
	font: italic 1.25em;
	margin-right: 10px;
	text-align: right;
}

figure img {
	margin-left: 10px;
	border: 8px solid #0f0;
}

figure img:hover {
	border: 6px solid #23004C;
}
